[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = KuromiK
	email = 98142015+KuromiK@users.noreply.github.com
